{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Chai aur Django{% endblock title %}</title>
      <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- Tailwind CSS via CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 text-gray-900">

    <!-- Navbar -->
    <nav class="bg-gray-800 text-white p-4 m">
        <div class="max-w-6xl mx-auto flex justify-between items-center">
            <a href="/" class="text-xl font-bold"> Welcome to mediablog </a>
            <div class="space-x-6 flex">
                <a  href="{% url 'tweet_list' %}"> Home </a>
                
              
                {% if user.is_authenticated %}
                  
                <form method="post" action="{% url "logout" %}" class="logout-form inline">
                            {% csrf_token %}
                           
                            <button type="submit"> Logout </button>
                          
                        </form>  

                
                {% else %}
                       <a href="{% url 'register' %}"> register  </a>
                        <a href="{% url 'login' %}"> Login  </a>
                                            



                {% endif %}
            </div>
        </div>
    </nav>


   

     <!-- Page Content -->
    <div class="mx-auto mt-6 p-4">
        {% block content %}
        <!-- Default content (if no child template overrides this) -->
        <p class="text-gray-600">Welcome! This is the default page.</p>
        {% endblock %}
    </div> 

</body>
</html>
