# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd

# ---- Virtual Environment ----
venv/
.venv/

# ---- Django ----
db.sqlite3
media/

# ---- VS Code / Editor Files ----
.vscode/
.idea/

# ---- Logs ----
*.log

# ---- OS-specific files ----
.DS_Store
Thumbs.db
