{% extends "base.html" %}

{% block title %}
Tweets Page
{% endblock title %}

{% block content %}
<h1 class="text-2xl font-bold mb-4 text-center"> Login form </h1>
<form method="post" enctype="multipart/form-data">
     {% csrf_token %}
     {{form.as_p}}
     <button type="submit"> Login </button>
     <p class="text-base text-gray-600 text-center"> dont have account here </p>
     <button>
         <a href="{% url 'register' %}"> register here </a>
      </button>
  </form>

{% endblock content %}